<ion-header>
  <ion-toolbar>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search for music"
      (ionInput)="onSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let track of tracks" (click)="playTrack(track)">
      <ion-thumbnail slot="start">
        <img [src]="track.album_image || 'assets/placeholder.png'" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ track.name }}</h2>
        <p>{{ track.artist_name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
